<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Google</title>
</head>
<body>
    <section>
    <header>
        <ul>
            <li>    <a href="">Gmail       </a>   </li>
           
            <li>    <a href="">Görseller     </a>   </li>
           
            <li>    <a href=""> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdymXjqCHEult9jPWcahIriKMmc0VILIn1Bw&usqp=CAU" 
                alt="" width="30px" height="30px">    </a>   </li>
           
            <li>    <button>Oturum açın</button>   </li>
        </ul>
    </header>



    <div class="main">
            <img src="https://www.google.com.tr/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" 
            alt="">
            <div class="searchinput">
                <input type="search" class="search">
        
                <div class="icons">
                    
                    
                    <div> <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png" 
                        alt="" width="25px" height="25x">  </div>
                    
                    
                    
                   
                    
                    <div>
                        <img src="https://icons.iconarchive.com/icons/google/noto-emoji-objects/1024/62829-keyboard-icon.png" 
                            alt="" height="25px" width="25px"> 
                        <img src="https://logowik.com/content/uploads/images/google-mic-icon9492.jpg" 
                        alt="" height="25px" width="35px">  </div>
                    
                </div>
        
            </div>

            <div class="buttons">
                <button>Google'da Ara</button>
                <button>Kendimi Şanslı Hissediyorum</button>
            </div>
   
   
   
   </div>





    

    
</section> 

<footer>
        <div class="firstline">
                Türkiye
        </div>
               <hr>

        <div class="secondline">

<a href=""  class="footer1">Hakkında</a> &nbsp; &nbsp;

<a href=""  class="footer1">Reklam</a> &nbsp; &nbsp;

<a href="" class="footer1">İşletme</a> &nbsp; &nbsp;

<a href=""  class="footer1">Nasıl Çalışır?</a> 


<span class="footerspan">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAMAAAAiV0Z6AAAAPFBMVEVLoEN0wU6CzFKCzFKCzFKCzFKCzFJSo0MSczNDmkCCzFJPoUMTczNdr0gmgziCzFITczMTczMTczMTczPh00jOAAAAFHRSTlPF/+bIsms8Ad///hX+//5/tXw7aMEAx10AAACaSURBVHgBbc4HDoRQCATQ33tbvf9dF9QxaCT9UQaltLHOh/golXKhMs5Xqa0xU1lyoa2fXFyQOsDG38qsLy4TaV+sFislovyhPzLJJrBu6eQOtpW0LjbJkzTuTDLRVNKa3uxJI+VdiRqXSeu6GW+Qxi29eLIi8H7EsYrT42BD+mQtNO5JMjRuC4lSY8V4hsLX0egGijvUSEP9AbylEsOkeCgWAAAAAElFTkSuQmCC" 
        alt="" height="13px" width="13px">
        <a href="">2007'den bu yana karbon nötr</a>


</span>


<span class="footerspan2">
    <a href="">Gizlilik</a> &nbsp; &nbsp;
   
    <a href="">Şartlar</a> &nbsp; &nbsp;
    
    <a href="">Ayarlar</a>

</span>
        



</div>

</footer>






</body>
</html>